 .body { 
  margin: 0;
  padding: 0; 
}

.container { 
  display: flex; 
  flex-direction: column; 
  height: 100vh; 
}
.content {
  display: flex;
  flex-grow: 1;
}
.top_page {
  width: 100%;
  height: 20%;
}
.content_main_login{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.login_content{
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.login_left, .login_center, .login_right{
  flex-basis: 33.33%;
  flex-grow: 1;
}
.botton_page{
  width: 100%;
  height: 20%;
}
#login_page{
  background-color: #00129b; /* Cor de fundo do site*/

}

.login_center{
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.login_center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.avatar_profile {
  flex-basis: 30%;
  flex-grow: 1;
}

.form_login {
  flex-basis: 70%;
  flex-grow: 1;
}

#login_senha label{
  padding-left: 0;
}

#img_perfil {
  width: 130px;
  height: 130px;
  margin-top: 30px;
}

#login_senha input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
}

#login_senha input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
}

#botao_entrar {
  width: 100%;
  background-color: rgb(116, 116, 116);
  border: none;
  color: wite;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#botao_entrar:hover{
  opacity: 25%;
  background-color: rgb(190, 190, 190);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header_bar {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  height: 40px;
  margin-bottom: 4px;
}

.menu_lateral {
  width: 200px;
  height: 100%;
  background-color: #0059ff;
  padding: 30px 0 10px ;
  cursor: pointer;
  font-size: 30px;
  top: 0;
  left: 0;
  box-shadow: 3px 0 0 rgb(4, 212, 15);
}



 


ul {
  height: 100%;
  list-style-type: none;
}

ul li.item_menu {
  transition: .1s;
}

ul li.item_menu:hover{
  background: rgb(163, 164, 163);
}

ul li.item_menu a {
  color: azure;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.item_menu a .link {
  margin-left: 20px;
}

ul li.item_menu a .icon {
  font-size: 30px;
 
 
}


.content_main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task_content, .calendar_content {
  flex-grow: 1;
}

.task_content {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.task_list, .task_button {
  flex-basis: 49%;
  flex-grow: 1;
}

.task_list {
  background-color: #fff9f9;
}

.task_button {
  display: flex;
  background-color:  #838383;
  box-shadow: #2196F3;
  justify-content: center;
  align-items: center;
}


.calendar_content {
  background-color: rgb(150, 150, 150);
  margin-top: 4px;
  margin-bottom: 4px;
}

.footer_bar {
  background-color: rgba(0, 0, 0, 0.658);
  height: 30px;
}

.box_header_left, .box_header_right {
  flex-grow: 1;
  flex-basis: 50%;
}

#inside_avatar {
  width: 35px;
  height: 35px;
  float: right;
}

#btn_sair {
  float: right;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}