.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.body{
    margin: 0;
    padding: 0;
}
.header_bar{
    background-color: #ccc;
    height: 40px;
    margin-bottom: 4px;
}
.content{
    display: flex;  
    flex-grow: 1;
}
.header_bar{
display: flex;
flex-wrap: wrap;
}

.box-header-left, .box-header-right{
    flex-grow: 1;
    flex-basis: 50%;
}
.box-header-right{
  justify-content: right;
  
}
.side_menu{
    background-color: #535353;
    width: 200px;
    margin-right: 4px;
    margin-bottom: 4px;
}
.content_main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.task_content, .calendar_content{
    flex-grow: 1;
}
.task_content{
    display: flex;
    flex-wrap: wrap;
}
.task_list, .task_button{
    flex-basis: 50%;
    flex-grow: 1;
}
.task_list{
    background-color: aliceblue;
}
.task_button{
    display: flex;
    background-color: aqua;
    box-shadow: black ;
    justify-content: center;
    align-items: center;
}
.calendar_content{
    background-color: #FF0043;
    margin-top: 4px;
    margin-bottom: 4px;
}
.footer_bar{
    background-color: #242323;
    height: 30px;
}
.menu_part1,
.menu_part2,
.menu_part3,
.menu_part4,
.menu_part5{
    flex-basis: auto;
    flex-grow: 1;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  